@font-face {
    font-family: "Montserrat";
    src:
            local("Montserrat Regular"),
            local("Montserrat-Regular"),
            url("./font/montserrat/fonts/montserrat-v15-latin_cyrillic-ext-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
            local("Montserrat Light"),
            local("Montserrat-Light"),
            url("./font/montserrat/fonts/montserrat-v15-latin_cyrillic-ext-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
            local("Montserrat SemiBold"),
            local("Montserrat-SemiBold"),
            url("./font/montserrat/fonts/montserrat-v15-latin_cyrillic-ext-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src:
            local("Montserrat Bold"),
            local("Montserrat-Bold"),
            url("./font/montserrat/fonts/montserrat-v15-latin_cyrillic-ext-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
